.bg{
   
    background-repeat: no-repeat;
    width: 16rem;
    height: 18rem;
    color: white;
    display: flex;
    text-align: start;
    justify-content: end;
    flex-direction: column;
}

.textspan{
    background: rgb(38,38,38);
    background: linear-gradient(360deg, rgba(38,38,38,1) 34%, rgba(0,0,0,0.4514180672268907) 81%, rgba(0,0,0,0) 100%);
}

