body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Poppins', sans-serif !important;
  background-color: rgb(111, 190, 233);
  background-repeat: no-repeat;
  background-size: cover;
  
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
} 

h1,h2,h3,h4{
  color: white;
  font-weight: bold;
}

.weather{
  background-color: rgba(98, 135, 144, 0.419);
  border-radius: 2vw;
}
.weather-details{
  background-color: rgba(98, 135, 144, 0.419);
  border-top-right-radius : 2vw;
  border-top-left-radius : 2vw;
}